
.good {
    width: 60%;
    margin: auto;
    
    display: flex;
    justify-content: space-around;
}

.imgs-all {
    display: flex;
    justify-content: space-between;
}

.infor-items {
    width: 270px;
    height: 330px;
    border: black 1px solid;
}

.infor-button {
    width: 270px;

    display: flex;
    justify-content: space-between;
}