.message {
    width: 50%;
    margin: 120px auto 0;

    min-height: calc(100vh  - 320px);
}

.message-add {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.buttons {
    display: flex;
    flex-direction: column;

    height: 90px;
    justify-content: space-around;
    margin-left: 20px;
}

.message-add textarea {
    flex-grow: 1;
    height: 90px;
    background-color: transparent;
    border: 2px var(--active-color) solid;
    border-radius: 20px;
    outline: none;
    color: var(--font-color);
}

.message-add textarea:focus {
    box-shadow: 0 0 10px var(--active-color);
}

.message-show {
    display: flex;
    flex-direction: column-reverse;
}

.one-message {
    background-color: transparent;
    border: 2px var(--active-color) solid;
    border-radius: 20px;

    display: flex;
    align-items: center;

    margin: 15px 0;
}

.message-content {
    flex-grow: 1;
    margin: 0 20px 0 40px;
}

.del-button {
    margin: 20px;
    flex-shrink: 0;
}

@media (max-width: 767px) {

    .message-add {
        flex-direction: column;
    }

    .message-add textarea {
        width: 250px;
    }

    .buttons {
        flex-direction: row;
    
        height: 50px;
        width: 250px;
        justify-content: space-around;
        margin-left: 0;
        margin-top: 17px;
    }

    .message-show {
        align-items: center;
    }

    .one-message {
        width: 250px;
    }

    
}