.message {
    width: 50%;
    margin: 120px auto;
}

.message-add {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.buttons {
    display: flex;
    flex-direction: column;

    height: 90px;
    justify-content: space-around;
    margin-left: 20px;
}

.message-add textarea {
    flex-grow: 1;
    height: 90px;
    background-color: var(--weak-color);
    border: 1px var(--active-color) solid;
    border-radius: 20px;
    outline: none;
}

.one-message {
    /* height: 90px; */
    background-color: var(--weak-color);
    border: 1px var(--active-color) solid;
    border-radius: 20px;

    display: flex;
    align-items: center;

    margin: 15px 0;
}

.message-content {
    flex-grow: 1;
    /* flex-shrink: 0; */
    margin: 0 20px 0 40px;
}

.del-button {
    margin: 20px;
    flex-shrink: 0;
}