.home {
    width: 100vw;
    height: 100vh;
    /* background-image: url('../../assets/bg-home.jpg'); */
    background-size: 100% 100%;
    position: relative;
}

.button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

@media (max-width: 767px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .button {
        position: static;
        transform: none;
        margin-bottom: 60px;
    }
    .button:hover {
        transition:transform .2s ease-out;
        transform: scale(1.2);
    }
}