
.carousel {
    width: 250px;
}

.images img {
    width: 250px;
    height: 250px;
}

.gallery {
    width: 250px;
    height: 250px;
    overflow: hidden;

    position: relative;
}

.gallery ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 1750px;
    height: 250px;
    display: flex;
    flex-direction: row;

    position: absolute;
    /* transition: left 250ms; */
}

