
.good {
    width: 60%;
    margin: auto;
    
    display: flex;
    justify-content: space-around;
}

.imgs-main > img {
    width: 300px;
    height: 300px;
}

.imgs-main {
    position: relative;
    width: 300px;
    height: 300px;

    z-index: 1;
}

.imgs-big {
    position: absolute;
    left: 310px;
    top: 0px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: none;
}

#big-img {
    position: absolute;
}

#mouse-shadow {
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    background: #ffffcc;
    border: 1px solid #ccc;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgs-all {
    display: flex;
    justify-content: space-between;
}

.imgs-all img {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.infor-items {
    width: 270px;
    height: 330px;
    border: black 1px solid;
}

.infor-button {
    width: 270px;

    display: flex;
    justify-content: space-between;
}

.button-cant {
    z-index: 1;
}