  .main {
    width: 100%; height: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
  }

  .path {
    width: 60vh; 
    height: 60vh;
    border-radius: 50%;
    margin: auto;
    position: relative;
    border: 1px solid #b4a078;
  }

  .avatar {
    width: 50px;
    position: absolute;
    top: 50%;
    margin-top: -10%;
    left: 50%;
    margin-left: -10%;
    animation: circular-smooth-spin 42s infinite linear;
    animation-play-state: running;
  }

  .path:hover .avatar {
    animation-play-state: paused;
  }

  .avatar:nth-of-type(2){
    animation-delay: -6s;
  }

  .avatar:nth-of-type(3){
    animation-delay: -12s;
  }

  .avatar:nth-of-type(4){
    animation-delay: -18s;
  }

  .avatar:nth-of-type(5){
    animation-delay: -24s;
  }

  .avatar:nth-of-type(6){
    animation-delay: -30s;
  }

  .avatar:nth-of-type(7){
    animation-delay: -36s;
  }

  @keyframes circular-smooth-spin {
    from {
      transform: rotate(0turn) translateY(calc(47vh - 52px)) rotate(1turn)
    }
    to {
      opacity: 1;
      transform: rotate(1turn) translateY(calc(47vh - 52px)) rotate(0turn)
    }
  }